
.active{
    color: white ;
    background-color: red;
    padding-inline: 20px;
    padding-block: 5px;
    border-radius: 4px;
   
}

.light-theme{
    background-color: white;
    color: black;
    
}
.dark-theme{
    background-color: black;
    color: white;
    
}